.team-members-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
}

.team-member-item {
  margin: 10px;
  width: 250px;
}

.team-member-image {
  background-size: cover;
  height: 250px;
  width: 250px;
}

.steph-image {
  background-image: url("../../assets/steph.png");
}

.jemma-image {
  background-image: url("../../assets/jemma.jpg");
}

.carol-image {
  background-image: url("../../assets/ted.jpg");
}

.abbie-image {
  background-image: url("../../assets/abbie.jpg");
}

p {
    font-weight: normal;
}
