<div class="component-container">
  <h3>Our Team</h3>
  <div class="team-members-container">
    <div class="team-member-item">
      <div class="steph-image"></div>
      <h3>Steph</h3>
      <p>Steph is the owner of Wags & Whiskers. She specialises in dog training and has a degree in Animal Training and Behaviour. Steph has previously worked in doggy daycare and canine hydrotherapy.</p>
      <p>She has grown up around dogs and first trained her family's dog when she was 7 years old. She also loves rabbits and has two lion-lop house bunnies.</p>
    </div>
    <div class="team-member-item">
      <div class="jemma-image"></div>
      <h3>Jemma</h3>
      <p>Jemma provides overnight dog sitting and home pet visits for Wags & Whiskers. She has experience of working with all kinds of dog breeds. Jemma has previously worked in a rescue and rehoming centre, where she gained experience of working with dogs of all sizes and temperaments.</p>
      <p>Jemma has two dogs and a whole zoo of other rescue animals at home.</p>
    </div>
    <div class="team-member-item">
      <div class="carol-image"></div>
      <h3>Carol</h3>
      <p>Carol provides dog walking and pet visits in the West Hull villages. She has lots of experience caring for dogs and cats built up over many years.</p>
      <p>She has a pug and a greyhound in the family and likes to spend weekends walking in the country with them.</p>
    </div>
  </div>
</div>
