.team-members-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
}

.team-member-item {
  margin: 10px;
  width: 250px;
}

.steph-image {
  background-image: url(/assets/steph.png);
  background-size: cover;
  height: 250px;
  width: 250px;
}

.jemma-image {
  background-image: url(/assets/jemma.jpg);
  background-size: cover;
  height: 250px;
  width: 250px;
}

p {
    font-weight: normal;
}
