<div class="component-container">
  <h3>Our Team</h3>
  <div class="team-members-container">
    <div class="team-member-item">
      <div class="team-member-image"></div>
      <h3>Steph</h3>
      <p>Steph is the owner of Wags & Whiskers. She specialises in dog training and has a degree in Animal Behaviour and Management. Steph has previously worked in doggy daycare and canine hydrotherapy centres.</p>
    </div>
    <div class="team-member-item">
      <div class="team-member-image"></div>
      <h3>Jemma</h3>
      <p>Jemma provides overnight dog sitting services.</p>
    </div>
  </div>
</div>
