<div class="component-container">
  <h3>About Us and our Values</h3>
  <p>At Wags & Whiskers we provide animal services including training, dog walking and pet sitting in Hull and surrounding areas.</p>
  <h3>Bespoke, Stimulating Solo Walks</h3>
  <p>We walk dogs on a solo basis unless you request otherwise. For us it is important to give your dog our full focus.</p>
  <p>We don't just take your dog to an empty field and leave them to run around. We take them on a mentally stimulating walk where they'll have chance to sniff, dig and explore. They'll be mentally enriched as well as physically exercised.</p>
  <h3>Positive and Responsible Training</h3>
  <p>We use aversive-free training methods. We don't believe there is ever a good reason to use punishment or force to change a dog's behaviour.</p>
</div>
