<div class="component-container">
  <h2>Contact Us</h2>
  <p>To make a booking or for any queries, contact us via any of the following methods:</p>
  <p>Call or text Steph on <a href="tel:+447852367860">07852367860</a></p>
  <p><a href="mailto:info@wagsandwhiskershull.com">info@wagsandwhiskershull.com</a></p>
  <div class="social-container">
    <a href="https://www.instagram.com/wags_and_whiskers_hull/" target="_blank" class="social-link">
      <div class="instagram"></div>
    </a>
    <a href="https://twitter.com/wagwhiskershull" target="_blank" class="social-link">
      <div class="twitter"></div>
    </a>
    <a href="https://www.facebook.com/wagsandwhiskershull/" target="_blank" class="social-link">
      <div class="facebook"></div>
    </a>
</div>
  <a href="https://www.protectivity.com/product/pet-business-insurance/?showCert=true&policy=viK0-ZUmS3kJ1KY0GubIJA2" title="Pet Business Insurance Site Seal - Protectivity Insurance" target="_blank" class="protectivity">
    <img src="https://www.protectivity.com/customer/siteseal/asset/4" alt="Pet Business Insurance Site Seal - Protectivity Insurance" width="200" height="200" />
  </a>
</div>
